In [1]:
print("Hello world")

Hello world

In [2]:
print("hello world")

hello world

In [3]:
# Machine learning 

# Records/tuple/sample/observation ---> all are same means data

In [4]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ducat\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\ducat\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

In [6]:
import pandas as pd

In [11]:
df=pd.read_csv("Salary_Data.csv")

In [12]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [21]:
X=df.iloc[:,:1].values       # this is feature in 2d array

In [23]:
print(X.ndim)        #ndim means number of dimention, we can use it to get array dimention

2

In [25]:
print(X)

[[ 1.1]
 [ 1.3]
 [ 1.5]
 [ 2. ]
 [ 2.2]
 [ 2.9]
 [ 3. ]
 [ 3.2]
 [ 3.2]
 [ 3.7]
 [ 3.9]
 [ 4. ]
 [ 4. ]
 [ 4.1]
 [ 4.5]
 [ 4.9]
 [ 5.1]
 [ 5.3]
 [ 5.9]
 [ 6. ]
 [ 6.8]
 [ 7.1]
 [ 7.9]
 [ 8.2]
 [ 8.7]
 [ 9. ]
 [ 9.5]
 [ 9.6]
 [10.3]
 [10.5]]

In [28]:
df
df.iloc[:,1].values        # .values is use to convert a dataframe into array

array([ 39343,  46205,  37731,  43525,  39891,  56642,  60150,  54445,
        64445,  57189,  63218,  55794,  56957,  57081,  61111,  67938,
        66029,  83088,  81363,  93940,  91738,  98273, 101302, 113812,
       109431, 105582, 116969, 112635, 122391, 121872], dtype=int64)